{{!-- Seccion de perfil de usuario. --}}
<h1>Mi Perfil</h1>

<div class="card userInformation">
    <p>Name: {{user.first_name}}</p>
    <p>Last name: {{user.last_name}} </p>
    <p>Age: {{user.age}}</p>
    <p>Email: {{user.email}} </p>

</div>

<button class="btn-form"><a href="./api/sessions/logout">logout</a></button>